<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--Units Beans-->
    <bean id ="ScoutBean"
        class="Unit.Scout">
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
    </bean>
    <bean id ="ThrowerBean"
          class="Unit.Thrower">
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
    </bean>
    <bean id ="SwordsManBean"
          class="Unit.SwordsMan">
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
    </bean>
<!--    Item Beans-->
    <bean id ="WeaponBean"
          class="Item.Weapon">
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
    </bean>
    <bean id ="BootsBean"
          class="Item.Boots">
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
    </bean>
    <bean id ="ArmorBean"
          class="Item.Armor">
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
        <constructor-arg value ="111"/>
    </bean>



</beans>